@model IEnumerable<Recipe.Central.Models.Recipe.RecipeInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="edit-recipe" href="#" data-id="@item.Id">Edit</a>

                |
                <a href="@Url.Action("Delete", new { id = item.Id})">Delete</a>
            </td>
        </tr>
    }



</table>

<div id="overlay">
    <rc-recipe-editor id="recipe-editor"></rc-recipe-editor>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#overlay").hide();
            $(".edit-recipe").click(function () {
                var id = $(this).data("id");
                $("#recipe-editor").attr("recipe-id", id);
                $("#overlay").show();
                return false;
            });
        });
    </script>
}
